html, body{
    background-color: #ececec;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}

/*Меню для сайта НАЧАЛО /*Основной блок МЕНЮ*/
#f-menu {
    display: flex;
    margin-top: 15px;
    padding: 0px;
    width: 100%;
    height: auto;
    position:fixed;
    top: 10px;
    flex-wrap: wrap;
    z-index: 10;
    justify-content: center;
} 
.f-el{
    margin: 0px;
    height: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: all 0.1s ease;
}
#logo {flex: 3;}
#bmenu {flex: 1;}
#inf {flex: 3;}

/* Лого компании*/
#cc {
    width: 160px;
    height: 50px;
    
}
/*Кнопка меню*/
#c-menu {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

#c-menu:hover span{
    background: orange;
    transition: all 0.1s ease;
    cursor:pointer;
}
#c-menu:hover #hov{
    color: orange;
    transition: all 0.1s ease;
    cursor:pointer;
}




.menu-icon {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 100;
    height: 50%;
    left: 50%;
    transform: translate(-50%, 0)
  }
 
.menu-icon span {
    background: #fff;
    display: block;
    width: 25px;
    height: 2px;
    transition: all 0.1s ease-in-out;

  }
  .menu-icon span:nth-child(1) {
    margin-top: 0px;
  }
  .menu-icon span:nth-child(2) {
    margin-top: 5px;
  }
  .menu-icon span:nth-child(3) {
    margin-top: 5px;
  }
  .menu-icon.active span:nth-child(1) {
    margin-top: 10px;
    transform: rotate(45deg);
  }
  .menu-icon.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-icon.active span:nth-child(3) {
    margin-top: -9px;
    transform: rotate(-45deg);
  }
  
  #hov {
    display: block;
    position: absolute;
    width: fit-content;
    height: 50%;
    margin-top: 2px;
    bottom: 0;
    font-family: "SSNormal";
    font-size: 16px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.1s ease-in-out;
  }







  
  .imenu {
    display: none;
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
  }


#menu {
    display: block;
    position: relative;
    width: fit-content;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


.ili{
    display: block;
    position: relative;
    height: 70px;
    width: fit-content;
    margin-bottom: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    
}
.ili h2 {
    font-family: "SSBook";
    text-align: center;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}
.ili h1 {
    font-family: "SSBold";
    font-size: 52px;
    margin: 0px;
    padding: 0px;
}

.imenu .ili,
.imenu .ili:active{
    text-decoration: none;
    color: white;
    transition: all 0.1s ease-in-out;
}
.imenu .ili:hover {
    color: orange;
    transition: all 0.1s ease-in-out;
}
.imenu .ili:hover .titleW:before,
.imenu .ili:hover .titleW:after {
    background: orange;
    transition: all 0.1s ease-in-out;
}
  














/*Кнопка звонка*/
#num {
    font-family: "SSNormal";
    font-size: 18px;
}
#call {
    display: inline-block;
    font-family: "SSNormal";
    font-size: 14px;
    color: white;
    text-decoration: none;
    user-select: none;
    width: fit-content;
    margin-top: 5px;
    padding: 6px 20px 2px 20px;
    outline: none;
    border: 2px solid white;
    border-radius: 18px;
    transition: all 0.1s ease;
    cursor:pointer;
}
#call:hover {
    display: inline-block;
    color: orange;
    border: 2px solid orange;
    transition: all 0.1s ease;
    cursor:pointer;
}
/*Меню для сайта КОНЕЦ*/


/*Первая секция НАЧАЛО /*Общий блок*/
#slide1, #slide2, #slide3 {
    width: 100vh;
    height: 100vh;
    background-image: url('../img/slide1/BGspanish.jpg');
    background-position: top right;
    background-size: cover;
}

/*Заполнение слайдового поля*/
.secslide {
    display: flex;
    padding: 0px;
    flex: 1;
}
.sec-left {
    flex: 1;
    height: 100vh;
}
/*Стрелочка*/
#left_control {
    margin-top: 50vh;
    margin-bottom: 50vh;
    margin-left: auto;
    margin-right: 0;
    transform: translate(0%, -50%);
    width: 16px;
    height: 75px;
    cursor: pointer;
    background-image: url("../img/slide1/ArrowL.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}
#right_control {
    margin-top: 50vh;
    margin-bottom: 50vh;
    margin-left: 0;
    margin-right: auto;
    transform: translate(0%, -50%);
    width: 16px;
    height: 75px;
    cursor: pointer;
    background-image: url("../img/slide1/ArrowR.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}
/*Центральная часть*/
/*Заголовок Н2*/
.sec-center {
    flex: 3;
}
.leftall {
    margin-top: 50vh;
    margin-bottom: 50vh;
    margin-left: 40px;
    margin-right: auto;
    transform: translate(0%, -50%);
    width: fit-content;
}
.sec-center h2{
    font-family: "SSBook";
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}
/*Заголовок Н1*/
.sec-center h1{
    font-family: "SSBlack";
    font-size: 72px;
    margin: 0px;
    padding: 0px;
}
/*Краткая информация*/
.sec-center p{
    font-family: "SSBook";
    font-size: 18px;
}
/*Синяя кнопка*/
.information {
    display: block;
    color: white;
    font-family: "SSBook";
    font-size: 18px;
    text-decoration: none;
    user-select: none;
    width: fit-content ;
    margin-top: 5px;
    padding: 10px 35px 12px 35px;
    background-color: #47cae3;
    border-radius: 20px;
    transition: all 0.1s ease;
    cursor:pointer;
}
.information:hover {
    display: block;
    background-color: #00a5c5;
    transition: all 0.1s ease;
    cursor:pointer;
}
/*Правая часть*/
.sec-right {
    flex: 1;
}
/*Первая секция КОНЕЦ*/


/*Вторая секция НАЧАЛО*/
#section1 {
    background-color: rgb(77, 0, 0);
}
.navigate {
    display: flex;
}
.sec {
    height: 100vh;
    overflow: hidden;
    position: relative;
    flex: 1;
}
.par {
    position: absolute;
    width: fit-content; 
    bottom: 30px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: "SSNormal";
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}
.sec img {
    height: 100vh;
    position: absolute;
    top: 0%;
    left: -100%;
    filter: brightness(0.7);
    vertical-align: middle;
    transition: all 0.1s ease;
}
.sec img:hover {
    transform: scale(1.1);
    filter: brightness(1);
    transition: all 0.1s ease;
}
.content {
    position: absolute;
    width: fit-content; 
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}
.content h2 {
    font-family: "SSBook";
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
.content h1 {
    font-family: "SSBlack";
    font-size: 40px;
    margin: 0px;
    padding: 0px;
}
/*Белая линия*/
.titleW {
    overflow: hidden;
}
.titleW:before, .titleW:after {
	content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
	width: 100%;
	height: 4px;
	background: white;
	border: none;
	border-width: 0 10px;
}
.titleW:before {
	margin-left: -100%;
}
.titleW:after {
	margin-right: -100%;
}
/*Оранжевая линия*/
.title {
    overflow: hidden;
}
.title:before, .title:after {
	content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
	width: 100%;
	height: 4px;
	background: orange;
	border: none;
	border-width: 10px 10px;
}
.title:before {
	margin-left: -100%;
}
.title:after {
	margin-right: -100%;
}
/*Вторая секция КОНЕЦ*/


/*Третья секция НАЧАЛО*/
#service {
    display: flex;
    height: 100vh;
    background-image: url("../img/slide3/service.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgb(48, 48, 48);
}

#slider {
    flex: 1;
}

#samomnenie {
    flex: 1;
}

.cont {
    position: relative;
    width: fit-content; 
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}
.cont h2 {
    font-family: "SSBook";
    text-align: right;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}
.cont h1 {
    font-family: "SSBlack";
    font-size: 48px;
    margin: 0px;
    padding: 0px;
}

















/*Третья секция КОНЕЦ*/


/*Четвертая секция НАЧАЛО*/
#back {
    height: 100vh;
    background-image: url("../img/slide4/sky2.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.backcont {
    position: relative;
    width: fit-content; 
    top: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 30%);
}

.backcont div {
    display: block;
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backcont h2 {
    font-family: "SSBook";
    text-align: center;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}
.backcont h1 {
    font-family: "SSBlack";
    text-align: center;
    font-size: 52px;
    margin: 0px;
    padding: 0px;
}

.backcont h3 {
    font-size: 20px;
    font-family: "SSNormal";
    font-weight: 800;
    text-align: center;
    margin-top: 20%;
}
.backcont h4 {
    font-size: 18px;
    font-family: "SSNormal";
    font-weight: 300;
    text-align: center;
    padding-bottom: 10%;
}

.inInf {
    display: block;
    position: relative;
    height: 40px;
    width: 350px;
    margin-bottom: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);

    background: none;

    text-align: center;
    font-size:20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
/*Убираем обводку со всех элементов и делаем плэйсх холдер белым*/
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
 ::-webkit-input-placeholder { /* WebKit browsers */
    color:    rgb(255, 255, 255);
    font-weight: 200;
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgb(255, 255, 255);
    font-weight: 200;
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgb(255, 255, 255);
    font-weight: 200;
 }
 :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    rgb(255, 255, 255);
    font-weight: 200;
 }









/*Четвертая секция КОНЕЦ*/

/*ШРИФТЫ*/
@font-face {
    font-family: "SSBook";
    src: url("../fonts/SolomonSansBook.otf");
} 
@font-face {
    font-family: "SSBlack";
    src: url("../fonts/SolomonSansBlack.ttf");
}
@font-face {
    font-family: "SSBold";
    src: url("../fonts/SolomonSansBold.otf");
}
@font-face {
    font-family: "SSNormal";
    src: url("../fonts/SolomonSansNormal.ttf");
}